html { font-size:16px;}



#main-block-div{
 text-align:center;
 background: #faa; padding: 0}

#div-1{
 height:200px;  
 width: 100%;
 background: #f29104;
 clear:left;} 


#div-2{
 height:200px;  
 width: 30%;
 float:left;
 background: #000000;
 } 


#div-3{
 height:200px;  
 width: 30%;
 float:left;
 background: #798c63;
 } 


#div-4{
 height:200px;  
 width: 40%;
 float:left;
 background: #d2edb3;
 } 


#div-5{
 height:200px;  
 width: 100%;
 background: #f7f0cb;
 clear:both;} 

.center {
border: 0px solid #FFFF00;
display: flex;
justify-content: center;
}


div >img {
    width : auto;
    height: auto; 
    max-height: 100%;
    max-width: 100%;
}

.hide-4-div{display: none;}


